:root{
  --darkRed :#4F0000;
  --lightPink : #F4D1D1;
}

.contenu{
  margin-top: 30px;
  border: var(--darkRed) 15px solid;
  border-radius: 20px;
  max-width: 1300px;
  width: 90%;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

@media (width<=1070px){
.contenu{

  flex-direction: column;
  max-height: none;
}
  
}

h1{
  font-size: 2.5rem;
}

main a{
  font-size: 1.3rem;
}

main img{
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  align-self: center;
  max-height: 75vh;
}

.contenu span:first-child{
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  /* width: 60%; */
  border-radius: 10px;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin: 30px 10px;
}

/* Description */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  width: 500px;
  background-color: #F4D1D1;
  padding: 40px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.lien{
  display: flex;
  gap: 5px;
  width: 410px;
}

/* Cases */
.cases p{
  background-color: var(--darkRed);
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.cases{
  display: flex;
  justify-content: space-evenly;
  margin: 5% 12%;
  gap: 7%;
}

/* Texte de fin */
.end-txt{
  text-align: center;
  margin: 0px 30px;
}