:root {
  --darkRed: #4F0000;
  --lightPink: #F4D1D1;
}


main a{
  display: block;
}


/* intro */

header{
  height: 100vh;
  background-color: var(--lightPink);
}

.intro {
  padding-top: 15vh;
  width: 550px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 5rem;
}

.intro p {
  color: var(--darkRed);
  font-size: 1.5rem;
  margin-top: -2px;
}

.intro a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: var(--darkRed);
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px #000000b0;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 15px 10px;
  width: 300px;
}

.intro nav {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


/* Presentation */

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.presentation div {
  width: 80%;
  padding: 20px;
}

.presentation h2 {
  font-size: 2.5rem;
  margin-left: 3%;
}

.presentation img {
  width: 40%;
}

.studio {
  flex-direction: row-reverse;
}


/* Section nouveauté tendance */

section {
  width: 1185px;
  margin-right: auto;
  margin-left: auto;
}

.nouveaute {
  display: flex;
  justify-content: space-around;
  border: #F4D1D1 5px solid;
}

.text {
  width: 400px;
  text-align: center;
}

/* Slider */

.slider {
  width: 300px;
}

.slider img {
  width: 200px;
}

/* Form */

.search-section{
  text-align: center;
  background-color: var(--lightPink);
  height: 150px ;

}
.search-section h3{
  font-size: 1.4rem;
  padding-top: 30px ;
  margin: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#search{
  border: var(--darkRed) 2px solid;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}


/* Autre */

blockquote {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cache {
  display: none;
}

.visible {
  display: block;
}

.presentation, section{
  margin-top: 20vh;
  margin-bottom: 20vh;
}