:root{
  --darkRed :#4F0000;
  --lightPink : #F4D1D1;
}


/* Style main */

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

main p {
  font-family: "Itim", cursive;
  font-size: 1.15rem;
}

main a {
  font-family: "Itim", cursive, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

/* Mentions légales */
main {
  display: flex;
  gap: 5%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}


main nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--lightPink);
  height: 300px;

}

main nav h2 {
  text-align: center;
}

main nav a {
  margin-left: 30px;
}

section{
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 20px;
}