/* Main */

:root{
  --darkRed :#4F0000;
  --lightPink : #F4D1D1;
}


main {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 30px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* main :focus-visible {
  border: var(--darkRed) 2px solid;
} */

/* Slider formulaire */

.slider {
  width: 500px;
  /* height: 500px; */
  position: relative;
  border: var(--darkRed) solid 1px;
  border-radius: 10px;
  overflow: hidden;
}

.slider-content {
  position: relative;
  display: flex;
  left: 0;
  transition: left 0.3s ease;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  flex-shrink: 0;
}

legend{
  font-size: 2rem;
}

.quantite{
  width: 100px;
}

.boisson, .boisson-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2vw;
  margin-bottom: 10px;
}

.remove-drink{
  width: 100px;
}

.add-drink{
  margin-top: 15px;
  width: 200px;
}