

/* Introduction de la page : container */


.container {
  width: 550px;
  text-align: left;
  margin-left: 7%;
}

h1 {
  font-family: "Iceland", sans-serif, Impact;
  color: #fff;
  margin-bottom: 10px;
  color: #4F0000;
  font-size: 5rem;
}

p {
  font-family: "Itim", cursive;
  color: #4F0000;
  font-size: 1.5rem;
  margin-top: -2px;
  margin-left: 5px;
}

.buttons {
  display: flex;
  justify-content: left;
}

.container a {
  font-family: "Iceland", sans-serif, Impact;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  background-color: #4F0000;
  border: none;
  border-radius: 20px;
  padding: 20px 15px;
  margin: 0 10px;
  cursor: pointer;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.689);
}



/* Main */

main {
  margin-top: 15%;
}

h3 {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

h4 {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
}

p {
  font-family: "Kite One", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

main li {
  font-family: "Kite One", sans-serif, Arial, Helvetica, sans-serif;
}

/* Intro */

h2 {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5rem;
  margin-left: 7%;
}

.intro img {
  width: 20%;
  margin-right: 5%;
}

.intro p {
  width: 80%;
  float: left;
  margin-left: 10%;
}

.intro {
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------------------------------------- */
/* Nouveauté */

/* .nouveaute h3 {
  text-align: center;
} */

/* .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
} */


/* SLIDER */


/* .js-slider {
  width: 450px;
  height: 250px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
} */

.js-photos {
  position: relative;
  display: flex;
  gap: 150px;
  left: 0;
  transition: left 1s ease;
}


.js-photo {
  width: 450px;
  height: 250px;
  left: 0;
  position: relative;
  flex-shrink: 0;
  background-color: #A37A49;
  border-radius: 25px;
}

/* Slider contenu */

.js-slider img {
  width: 30%;
  float: left;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.js-slider h4 {
  margin-left: 225px;
}

.js-slider ul {
  margin-left: 180px;
  margin-top: -10px;
}

.js-slider p {
  margin-left: 20px;
  margin-top: 30px;
}


/* NAVIGATION SLIDER */

.js-nav {
  position: absolute;
  bottom: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 600px;
}

@media(max-width:700px) {

  .js-nav {
    position: absolute;
    bottom: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 510px;
  }
}

.js-nav img {
  width: 30px;
}

.js-nav-left,
.js-nav-right {
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
}

.js-nav-right img {
  rotate: 180deg;
}

/* ------------------------------------------------------------------------------------------------ */

/* Plus d'infos */

.infos h3 {
  text-align: center;
}

.infos img {
  width: 20%;
  margin-left: 5%;
  border-radius: 25px;
}

.infos p {
  width: 70%;
  float: right;
  margin-left: 10%;
  margin-right: 10%;
}

.infos span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

/* Main lien */

#atelier {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

#atelier {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style-type: none;
  background-color: #A37A49;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.2rem;
  width: 25%;
  max-width: 270px;
  text-align: center;
}

#atelier {
  font-size: 1.5rem;
  text-decoration: none;
  color: #4F0000;
}

/* Blockquote */

blockquote {
  font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}