

/* Couleurs */

:root{
  --darkRed :#4F0000;
  --lightPink : #F4D1D1;
}

/* MAIN */

main h1{
  font-family: "Iceland", sans-serif, Impact;
  text-align: center;
  color: var(--darkRed);
  font-size: 4rem;
}

main h2{
  font-family: "Iceland", sans-serif, Impact;
  background-color: var(--darkRed);
  font-size: 2rem;
  padding: 5px;
  color: white;
  width: 250px;
  text-align: center;
  border-radius: 10px;
}

main  p{
  font-family: "Itim", cursive;
  font-size: 1.2rem;
}

main  img{
  width: 30%;
  border-radius: 80px;
}

.cases, .propos-moi, .propos-quest{
  margin: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}


main  .propos-moi {
  flex-direction: row-reverse;
}

.bandeau{
  background-color: var(--lightPink);
  margin: 0;
  padding: 10px;
  text-align: center;
}

.cases p{
  background-color: var(--darkRed);
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.cases{
  margin: 5% 12%;
  gap: 7%;
}
