@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}


/* FONT */

.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.kite-one-regular {
  font-family: "Kite One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
}

/* Header */

header {
    font-family: "Iceland", sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F4D1D1;
    color: #4F0000;
    width: 100%;
    position: relative;
    padding: 0 50px; 
  }
  
  header img{
    width: 70px;
  }
  
  header nav{
    display: flex;
    align-items: center;
  }
  
  header ul {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-around;
    width: 380px;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
  }
  
  header h1{
    margin-right: auto;

  }

  header a {
    text-decoration: none;
    color: #4F0000;
  }
  
  header li {
    list-style-type: none;
  }
  
  .gouttes{
    width: 100%;
    position: relative;
    z-index: -1;
    top: -2vh;
  }
  
@media(max-width:1100px) {

   .gouttes{
    width: 100%;
    position: relative;
    z-index: -1;
    top: -1vh;
  }
  
}


/* Footer */

.footerGouttes{
  width: 100%;
  position: relative;
  z-index: -1;
  bottom: -3vh;
  transform: rotate(180deg);
}

footer{
    background-color: #F4D1D1;
    color: #4F0000;
    margin-right: auto;
    margin-bottom: -50px;
    margin-left: auto;
    font-family: "Itim", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
  
  .footerlogo{
    width: 70px;
    margin-left: 50px;
  }
  
  footer h4{
    font-size: 1.2rem;
    margin-right: auto;
  }
  
  footer a{
    text-decoration: none;
    color: #4F0000;
  }
  
  footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-right: 10%;
  }

  footer p{
    padding: 10px;
  }

  footer span{
    margin-right: auto;
    display: flex;
    gap: 20px;
  }

 footer span img{
  width: 30px;
 }